{% extends "base.html" %}

{% load django_bootstrap5 %}

{% block content %}
  <div class="card col-4">
    <div class="card-header">
      Калькулятор ожидания дня рождения
    </div>
    <div class="card-body">
      <form>
        {% bootstrap_form form %} <!-- Выводим поля формы с помощью специального тега. -->
    <!-- Добавляем кнопку отправки данных. -->
        {% bootstrap_button button_type="submit" content="Отправить" %}
      </form>
    </div>
  </div>
  {% with data=request.GET %}   <!-- Присваиваем переменной data объект request.GET -->
    <!--{% if data %}    В дальнейшем используем имя data вместо request.GET {% endif %}-->
    {% if form.is_valid %}
      <h2>Привет, {{ data.first_name }} {{ data.last_name }}</h2>
      {% if birthday_countdown == 0 %}
        С днём рождения!
      {% else %}
        Осталось дней до дня рождения: {{ birthday_countdown }}!
      {% endif %}
    {% endif %}
  {% endwith %} <!-- Когда заканчивается область шаблона, где нужна переменная, закрываем тег with -->
{% endblock %}


<!--
Либо так: 
{% with data=request.GET %}
  ...
{% endwith %}

 Либо так 
  (это старый синтаксис, но он тоже поддерживается): 
{% with request.GET as data %}
  ...
{% endwith %} 
-->